body{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    overflow-x: hidden;
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 0px;
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 923px;
    margin: 0 auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.sedans_container{
    background-color: hsl(31, 77%, 52%);
    width: 33%;
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.suvs_container{
    background-color: hsl(184, 100%, 22%);
    width: 33%;
    height: 500px;
}

.luxury_container{
    background-color: hsl(179, 100%, 13%);
    width: 33%;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img_sedan, .img_suv, .img_luxury{ 
    padding-top: 49px;
    padding-left: 49px;
    padding-bottom: 10px;
}

.title_block_1, .title_block_2, .title_block_3{
    color: hsl(0, 0%, 95%);
    font-size: 26px;
    font-family: 'Big Shoulders Display', cursive;
    padding-left: 49px;
    padding-bottom: 0px;
}

.paragraph_block_1, .paragraph_block_2, .paragraph_block_3{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 25px;
    padding-left: 49px;
    padding-right: 65px;
}

.button_container_1, .button_container_2, .button_container_3{
    padding-left: 49px;
    padding-top: 70px;
}


.button_block_1, .button_block_2, .button_block_3{
    border: none;
    background: hsl(0, 0%, 95%);
    border-radius: 50px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    color: hsl(31, 77%, 52%);
    padding: 10px 28px 10px 28px;
    transition: all 0.3s ease;
}

.button_block_2{
    color: hsl(184, 100%, 22%);
}

.button_block_3{
   color:  hsl(179, 100%, 13%);
}

.main_container button:hover{
    background: none;
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

@media(max-width:1020px){

    body{
        height: initial;
        padding: 80px 0;
    }

    .main_container{
        flex-direction: column;
        width: 90%;
    }


    .sedans_container{
        background-color: hsl(31, 77%, 52%);
        width: 100%;
        height: 500px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
     
    }
    
    .suvs_container{
        background-color: hsl(184, 100%, 22%);
        width: 100%;
        height: 500px;
    }
    
    .luxury_container{
        background-color: hsl(179, 100%, 13%);
        width: 100%;
        height: 500px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }


    .button_block_1, .button_block_2, .button_block_3{
        border: none;
        background: hsl(0, 0%, 95%);
        border-radius: 50px;
        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 14px;
        color: hsl(31, 77%, 52%);
        padding: 15px 35px 15px 35px;
        transition: all 0.3s ease;
    }

    .button_block_2{
        color: hsl(184, 100%, 22%);
    }
    
    .button_block_3{
       color:  hsl(179, 100%, 13%);
    }

    .button_container_1, .button_container_2, .button_container_3{
        padding-left: 49px;
        padding-top: 5px;
    }

    .sedans_container, .suvs_container, .luxury_container{
        height: 445px;
    }

    .img_sedan, .img_suv, .img_luxury{ 
        padding-top: 49px;
        padding-left: 49px;
        padding-bottom: 5px;
    }
    
    .title_block_1, .title_block_2, .title_block_3{
        color: hsl(0, 0%, 95%);
        font-size: 26px;
        font-family: 'Big Shoulders Display', cursive;
        padding-left: 49px;
        padding-bottom: 0px;
    }
}
